@model IEnumerable<Pie>
<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Pis List</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
         <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Existing Pies List</h6>

             <div class="row">
                <div class="ml-auto">
                    <a asp-areas="Admin" asp-controller="Pie" asp-action="Create"  class="form-control btn btn-secondary">Add New</a>
                </div>
            </div>

        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Is Pie of Week</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Is Pie of Week</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var pie in Model)
                        {
                            <tr>
                                <td>@pie.PieId</td>
                                <td>@pie.Name</td>
                                <td>@pie.Price</td>
                                <td>@pie.IsPieOfTheWeek</td>
                                <td>
                                <a asp-areas="Admin" asp-controller="Pie" asp-action="Detail"
                                    asp-route-id="@pie.PieId" class="collapse-item">View
                                </a>
                                <a asp-areas="Admin" asp-controller="Pie" asp-action="Edit"
                                    asp-route-id="@pie.PieId" class="collapse-item">Edit</a>

                                <a asp-areas="Admin" asp-controller="Pie" asp-action="Delete"
                                    asp-route-id="@pie.PieId" class="collapse-item danger">Delete</a>
                                 </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>